.container{
    padding: 0px 7px;
}
.item{
    padding:0px 7px;
    width:33.3%;
    display: inline-block;
    margin-bottom: 30px;
}
.item img{
    width: 100%;
}
.item h5{
    font-size: 14px;
    color: #fff;
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}